body {
	font-size: 18px;
}

header {
	background-color: #ddd;
}

.setZeroMargin {
	margin-left: 0px;
	margin-right: 0px;
}

.podcastEpisodeContainer {
	padding: 10px;
	/*padding-bottom: 8px;*/
}

.podcastEpisodeContainer:hover {
	background-color: #efefef;
}

.podcastTitle {
	font-size: 16px;
	font-weight: bold;
}

.episodeTitle {
	font-size: 20px;
}

.episodeDate {
	font-size: 16px;
	font-style: italic;
}

.episodeDescription {
	font-size: 17px;
}