<div class="row setZeroMargin">
	<div class="col-xs-12">
		<h2>New episodes:</h2>
	</div>
</div>

<div class="row setZeroMargin">
	{{#newEpisodes}}
	<div class="col-md-4">
		<div class="row">
			{{#data}}
			<div class="col-md-12 podcastEpisodeContainer" {{data "data"}}>
				<div class="row">
					<div class="col-xs-5 col-xs-offset-1">
						<span class="podcastTitle">
							{{podcastTitle}}
						</span>
					</div>
					<div class="col-xs-5">
						<span class="pull-right episodeDate">
							{{episodeDate}}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<span class="episodeTitle">
							{{episodeTitle}}
						</span>
					</div>			
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<span class="episodeDescription">
							{{#showDescription}}
								{{episodeDescription}}
							{{/showDescription}}
						</span>
					</div>			
				</div>
				{{#downloadLink}}
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<a href="{{downloadLink}}">
							Скачать
						</a>
					</div>			
				</div>
				{{/downloadLink}}
			</div>
			{{/data}}
		</div>
	</div>
	{{/newEpisodes}}
</div>